extends layout.pug

block content
  h1 Checked Out Books
  p
    a.button(href='new_book') Create New Book
  p
    | Filters 
    a(href='all_books') All
    |  
    a(href='overdue_books') Overdue
    |  
    a(href='checked_books') Checked Out
  include includes/books.pug
